/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 18-Feb-2023, 6:49:35 pm
    Author     : 91775
*/
*{
        background-color: #fbfcf8;
}

nav {
        height: 70%;
        width: 100%;
        min-width: 600px;
        display: flex;
        /*align-items: center;*/
        float: right;
        justify-content: space-around;
        margin: auto;
	color: #fff;
	padding: 10px;

}

/* Style the navigation menu */
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #000000;
	text-decoration: none;
        position: relative;
        font-family: 'poppins',sans-serif;
        color: #a0a0a0;
        font-size: 18px;
        letter-spacing: 0.5px;
        padding: 0 10px;
}

nav a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav a:hover{
    color: #ffffff;
}

nav a:hover:after {
	text-decoration: underline;
        width: 100%;
        
}
.info{
    justify-content: center;
    width: 50%;
    padding: 7%;
    margin: 7%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 15%;
    font-size: 18px;
    font-family: cursive;
    margin-top: 77px;
    margin-left: 250px;

}

.abt{
    text-align: center;
    margin-top: 20px;
}


